<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
   		 id="SDLNotRules"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Sparql DL Not Rules"/>
      <class value="cz.sio2.sdlnot.protege.SparqlDLNotView"/>
      <headerColor value="@org.protege.ontologycolor"/>
      <category value="@org.protege.misccategory"/>
   </extension>
</plugin>
